
main .inform ul
{
  list-style-type: none;
}

main .inform ul label {
  display: inline-block;
  width: 10rem;
}
body {
  font-family: sans-serif;
  margin: 0px 0px 0px 0px;
}

main .error{
	color: #ff0000;
}

main {
  padding: 3rem 3rem 3rem 3rem;
}

main .courses td, main .courses th {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border: 1px solid #c0c0c0;
}
main .courses th {
  text-align: center;
  background-color: #0000ff;
  color: #ffffff;
}

main li {
  padding-bottom: 0.5rem;
}
