
main .inform ul
{
  list-style-type: none;
}

main .inform ul label {
  display: inline-block;
  width: 10rem;
}
body {
  font-family: sans-serif;
  margin: 0px 0px 0px 0px;
}

main .error{
	color: #ff0000;
}

main {
  padding: 3rem 3rem 3rem 3rem;
}

main .courses td, main .courses th {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border: 1px solid #c0c0c0;
}
main .courses th {
  text-align: center;
  background-color: #0000ff;
  color: #ffffff;
}

main li {
  padding-bottom: 0.5rem;
}





.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      185px;
    height:     50px;
}
.ratings_stars {
    background-image: url("star_empty.png");
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background-image: url("star_full.png");
}
.ratings_over {
    background-image: url("star_highlight.png");
}
.total_votes {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute;  
	margin-bottom: 20px;
} 
.movie_choice {
    font: 10px verdana, sans-serif;
    margin: 0 auto 40px auto;
    width: 180px;

}

.page {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 0;
	padding-bottomg: 20px;
	background-color: white;
}

body {
	background-color: #EEEEEE;
	height: 100%;
}

.navbar {
	margin-bottom: 0px;
}

.top-body {
	margin-top: 20px;
}

.carousel-control {
	color: #555;
}
.carousel-inner {
	margin-bottom: 20px;
}
.item {

	padding-top: 10px;
	padding-bottom: 10px;
}

.col-lg-12 {
	border-style: ridge none ridge none;
	margin-bottom: 15px;
}

.jumbotron {
	padding-bottom: 24px;
	padding-top: 16px;
}